@font-face { 
    font-family: 'Noto Sans';
    src: url('./font/NotoSans.woff') format('woff');
}

html{
    max-height:900px;
    max-width:900px;
    background-color: black;
}

p{
    color:white;
    font-size: 15px;
    font-family: 'Noto Sans';
    font-weight: normal;
    font-style: normal;
}



.menu-container{
    text-align: center;
}

#title{
    color:white;
}

.menu-button{
    /* colors */
	background-color:#000000;
	border-radius:4px;
	border:2px solid #ffffff;

	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:22px;
	text-decoration:none;

    text-align: center;

    min-height:50px;
    min-width:250px;

    margin: 10px;
    user-select: none;

    cursor: pointer;
    transition-duration: 200ms;
}

.menu-button:hover{
    /* colors */
    color: black;

    background-color: white;
    user-select: none;

    opacity: 1;
    
}

body { 
    margin:0; 
} /* Remove body margins */
#wrapper {
    position: relative;
    height: 560px;
    width: 280px;
}
#canvas,#canvas-bottom{
    position:absolute; top:0px; left:0px;
}