::-webkit-scrollbar {
    display: none;
}


.starting-level-slide-container {
    width: 100%; /* Width of the outside container */
  }
  
  /* The slider itself */
  .slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 90%; 
    height: 25px; /* Specified height */
    background: #ffffff; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }
  
  /* Mouse-over effects */
  .slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */ 
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #a5a5a5; 
    cursor: pointer; /* Cursor on hover */
  }
  
  .slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #a5a5a5; 
    cursor: pointer; /* Cursor on hover */
  }



html{
    height:400px;
    width:290px;

    background-color: black;

}

.helptext{
    color:white;
}

p{
    color:white;
}

h3{
    color:white;
}

#infocontainer{
    text-align: center;
}

footer{
    color:white;
}

.menu-container{
    text-align: center;
    color: white
}

#title{
    color:white;
}
h1{
    position: relative;
    top: 50%;
    transform: translateY(-40%);
    color:white;
}

.back-button{
    /* colors */
	background-color:#000000;
	border-radius:4px;
	border:2px solid #ffffff;

	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:22px;
	text-decoration:none;

    text-align: center;

    min-height:50px;
    min-width:250px;

    margin: 10px;
    user-select: none;

    cursor: pointer;
    transition-duration: 200ms;
}

.back-button:hover{
    /* colors */
    color: black;

    background-color: white;
    user-select: none;

    opacity: 1;
    
}

select{
    /* colors */
	background-color:#000000;
	border-radius:4px;
	border:2px solid #ffffff;

	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:18px;
	text-decoration:none;

    text-align: right;

    min-height:25px;
    min-width:150px;

    margin: 5px;
    user-select: none;

    cursor: pointer;
    transition-duration: 200ms;
}

.back-button{
    /* colors */
	background-color:#000000;
	border-radius:4px;
	border:2px solid #ffffff;

	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:22px;
	text-decoration:none;

    text-align: center;

    min-height:50px;
    min-width:250px;

    margin: 10px;
    user-select: none;

    cursor: pointer;
    transition-duration: 200ms;
}
.back-button:hover{
    /* colors */
    color: black;

    background-color: white;
    user-select: none;

    opacity: 1;
    
}



#classic{
    /* colors */
background-color:#000000;
border-radius:4px;
border:2px solid rgb(21, 255, 0);

cursor:pointer;
color:rgb(21, 255, 0);
font-family:Arial;
font-size:22px;
text-decoration:none;

text-align: center;

min-height:50px;
min-width:250px;

margin: 10px;
user-select: none;

cursor: pointer;
transition-duration: 200ms;
}

#classic:hover{
/* colors */
color: black;

background-color: rgb(21, 255, 0);
user-select: none;

opacity: 1;
}

/* 
linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(37,62,193,1) 0%, rgba(0,250,178,1) 100%);

https://cssgradient.io/
*/



#practice{
    /* colors */
    background-color:#000000;
    border-radius:4px;
    border:2px solid rgb(107, 255, 216);
    
    cursor:pointer;
    color:rgb(107, 255, 216);
    font-family:Arial;
    font-size:22px;
    text-decoration:none;
    
    text-align: center;
    
    min-height:50px;
    min-width:250px;
    
    margin: 10px;
    user-select: none;
    
    cursor: pointer;
    transition-duration: 200ms;
    }

#practice:hover{
    /* colors */
    color: black;
    
    background-color: rgb(107, 255, 216);
    user-select: none;
    
    opacity: 1;
}
    
#practice:hover ~ #infocontainer{

    color: black;

}




#ghost{
        /* colors */
    background-color:#000000;
    border-radius:4px;
    border:2px solid rgb(43, 43, 43);

    cursor:pointer;
    color:rgb(43, 43, 43);
    font-family:Arial;
    font-size:22px;
    text-decoration:none;

    text-align: center;

    min-height:50px;
    min-width:250px;

    margin: 10px;
    user-select: none;

    cursor: pointer;
    transition-duration: 200ms;
}   

#ghost:hover{
    /* colors */
    color: black;

    background-color: rgb(43, 43, 43);
    user-select: none;

    opacity: 1;
}


#text-input {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 90%; 
    height: 25px; /* Specified height */
    background: #ffffff; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }
  
  /* Mouse-over effects */
#text-input:hover {
    opacity: 1; /* Fully shown on mouse-over */
}



#pieces-reset-button{
    border-color: white;
    background-color: black;
    color: white;
    text-decoration:none;
    border-radius:4px;
    border:2px solid white;

    transition-duration: 200ms;
}


#pieces-reset-button:hover{
    color: black;
    background-color: white;
}